<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DauRuang"
        tools:targetApi="31">
        <activity
            android:name=".ui.screen.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DauRuang">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen.scan.ScanActivity"
            android:label="scan_activity"
            android:theme="@style/Theme.DauRuang" />

        <activity
            android:name=".ui.screen.history.HistoryActivity"
            android:label="scan_activity"
            android:theme="@style/Theme.DauRuang" />

        <activity
            android:name=".ui.screen.profile.ProfileActivity"
            android:label="scan_activity"
            android:theme="@style/Theme.DauRuang" />

        <activity
            android:name=".ui.screen.transaction.TransactionActivity"
            android:label="scan_activity"
            android:theme="@style/Theme.DauRuang" />

        <activity
            android:name=".MainActivity"
            android:label="main_activity"
            android:theme="@style/Theme.DauRuang" />

        <activity
            android:name=".ui.screen.splash.OnBoardingActivity"
            android:label="onBoarding_activity"
            android:theme="@style/Theme.DauRuang" />

        <activity
            android:name=".ui.screen.welcome.WelcomeActivity"
            android:label="welcome_activity"
            android:theme="@style/Theme.DauRuang" />

        <activity
            android:name=".ui.screen.transaction.TransactionSummaryActivity"
            android:label="transaction_summary_activity"
            android:theme="@style/Theme.DauRuang" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.capstone.dauruang.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>